.loading {
    width: 40vw;
}

.PokemonDisplay {
    height: 110vh;
}

.name-sprite {
    display: flex;
}

.pokemon-info, .pokemon-sprite {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    height: 50%;
}

.pokemon-name {
    width: 80%;
    height: 10%;
    color: gray;
    font-weight: bold;
    font-size: 10vh;
    margin-bottom: 15%;
}

.move-row{
    padding-left: 10%;
    padding-right: 10%;

    display: flex;
    justify-content: space-between;
}